<div ng-if="!mainVm.session.user.team_id" class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h1>Register new team</h1>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>

    <form class="col-sm-4 form-horizontal" novalidate="" name="teamregisterform">

      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" placeholder="Name" ng-model="team.name">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="description" placeholder="Description" ng-model="team.description">
        </div>
      </div>

      <div class="form-group">
        <input class="btn btn-default pull-right" ng-disabled="!teamregisterform.$valid" ng-click="contentVm.create(team)" value="Create" type="submit">
      </div>


    </form>

    <div class="col-sm-4"></div>
  </div>


  <uib-alert ng-if="!!contentVm.alert" type="contentVm.alert.type" class="fade">{{contentVm.alert.msg}}</alert>
</div>
<div ng-if="!!mainVm.session.user.team_id" class="container-fluid">
  Leave your current team if you want to register a new one.
</div>