<div class="ng-scope" id="featured">
  <img alt="slide image" src="/img/frontpage1.jpg">
  <!--http://placehold.it/1000x450&text=Blabla-->
</div>
<div class="panel radius-bottom ng-scope">
  <div class="row">
    <div class="large-6 small-6 columns">
      <h4>Header</h4>
      <hr>
      <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae,
      sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare
      sagittis.</h5>
    </div>
    <div class="large-6 small-6 columns">
      <p>Suspendisse ultrices ornare tempor. Aenean eget ultricies libero.
      Phasellus non ipsum eros. Vivamus at dignissim massa. Aenean dolor
      libero, blandit quis interdum et, malesuada nec ligula. Nullam erat
      erat, eleifend sed pulvinar ac. Suspendisse ultrices ornare tempor.
      Aenean eget ultricies libero.</p>
    </div>
  </div>
</div>