<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body><div ng-if="contentVm.user" class="panel radius"><a href="http://steamcommunity.com/profiles/%7B%7BcontentVm.user.steamId64%7D%7D">
    <h1>Settings</h1></a>
  <alert ng-if="!!contentVm.alert" type="contentVm.alert.type" class="fade">{{contentVm.alert.msg}}</alert>
  <form novalidate="" name="testform" class="simple-form">Realname:
    <input ng-model="contentVm.user.realName" type="text"><br>E-mail: 
    <input name="email" validate-email="validate-email" ng-model="contentVm.user.email" type="email"><span ng-show="testform.email.$error.email">Email is invalid.</span><br>Country:
    <input ng-model="contentVm.user.countryCode" type="text"><br>
    <input ng-disabled="!testform.$valid" ng-click="contentVm.save(contentVm.user)" value="Save" type="submit">
  </form>
  <p ng-bind="contentVm.result"></p>
</div>
<div ng-if="!contentVm.user">
  <div class="content-top">
    <h1>User not found!</h1>
  </div>
</div></body></html>