@import "settings";
// bower:scss
@import "foundation/scss/foundation.scss";
// endbower

@import "custom";
@import "animations";
@import "spinkit/spinners/7-three-bounce";

html {
  overflow-y: scroll;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

